<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Your Fit</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://api.fontshare.com/css?f[]=ranade@400&f[]=clash-display@600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{!-- <div id="top-nav">
    <h1>Track Your Fit</h1>
  </div> --}}
  <main>
    
    <div id="side-nav">
      <div id="side-nav-logo">
            <h1>Track Your Fit</h1>
            {{#unless loggedIn}}
            <p>Your online accountability partner</p>
            {{/unless}}
      </div>
      <div id="side-nav-links">
        {{#if loggedIn}}
            <!-- Conditionally rendering login or logout links -->
            <a class="navbtn" href="/">Home</a>
            <a class="navbtn" href="/api/users/workouts">My Workouts</a>
            <a class="navbtn" href="/createworkout">Create a Workout</a>
            <a class="navbtn" href="/allworkouts">Browse Workouts</a>
            <a class="navbtn" id="logout" href="/">Logout</a>
            {{/if}}
      </div>
    </div>
    
    <div id="page-content">
        {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>