<div class='create-workout-container'>
    <div class="vertically-align-container">
        <h2>Create Workout</h2>
            <div class="form-container">
        {{!-- <div class="progress-bar" style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div> --}}
        <form id="form1" class="form-transition">
            <div page="1">
                <div id="workout-title-container">
                    <h2>Enter the title of your workout</h2>
                    <input type="text" class="form-control" id="workout-title" required></input>
                </div>
                <div id="form1-btn">
                    <button id="next1">Next</button>
                </div>
            </div>
        </form>

    
        <form id="form2" class="form-transition">
            <div page="2">
                <div id="workout-type-container">
                    <h2>What type of workout is this?</h2>
                    <select id="workout-type">
                        <option selected>Workout Type </option>
                        <option value="Strength Training">Strength Training</option>
                        <option value="Cardio">Cardio</option>
                        <option value="High Intensity Interval Training (HIIT)">High Intensity Interval Training (HIIT)
                        </option>
                        <option value="Yoga">Yoga</option>
                    </select>
                </div>
                <div id="form2-btn-container">
                    <button class="btn-secondary" id="back1">Back</button>
                    <button id="next2">Next</button>
                </div>
            </div>
        </form>

        {{!-- <form id="form3">
            <div page="3">
                <div id="body-zone-container">
                    <h2>Choose a muscle group:</h2>
                    <select id="body-zone" multiple>
                        <option value="Back">Back</option>
                        <option value="Legs">Legs</option>
                        <option value="Full Body">Full Body</option>
                        <option value="Arms">Arms</option>
                        <option value="Chest">Chest</option>
                    </select>
                </div>
                <div>
                    <button id="back2">Back</button>
                    <button id="next3">Next</button>
                </div>
            </div>
        </form> --}}

        {{!-- <form id="form4">
            <div page="4">
                <div id="workout-description-container">
                    <h2>Please enter a description of your workout:</h2>
                    <textarea class="form-control" id="workout-description" rows="3"></textarea>
                </div>
                <div>
                    <button id="back3">Back</button>
                    <button id="submit">Submit</button>
                </div>
            </div>
        </form> --}}


        </div> 
    </div> 
</div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="./js/createworkout.js"></script>
</div>